.custom-nav-dropdown .nav-link{
    color: white !important;
}

.leaflet-container {
    height: 57vh;
    width: 40vw;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.toast-container-custom {
    top: 10vh !important;
    margin: 0;
    background-color: #212529;
}

  